@import "/src/styles/variables";

.card {
  width: 100%;
  * {
    text-align: center;
  }
  img {
    display: flex;
    justify-self: center;
    margin-bottom: 3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 60%;
  }
  .title {
    margin-bottom: 1rem;
    color: $color-black;
    text-transform: uppercase;
  }
  article {
    font-size: $font-small;
  }
}
